week02/lab-2/func_ptr.c
week02/lab-2/func_ptr
week02/lab-2/.vscode/tasks.json
week02/lab-2/.vscode/launch.json
week02/lab-2/func_ptr.dSYM/Contents/Resources/DWARF/func_ptr
week02/lab-2/tests/1.exp
week02/lab-2/.gitignore
.DS_Store
week02/lab-2/BigNum.o
week02/lab-2/add
week02/lab-2/add.o
week02/lab-2/add.o
week02/lab-2/add
week02/lab-2/BigNum.o
week03/watb.o
week03/maf.o
week03/watb.dSYM/Contents/Resources/DWARF/watb
week03/watb
week03/maf
